ul {
  display: flex;
  flex-direction: row;
}

#menu1,
#menu2,
#menu3 {
  margin-right: 20px;
  list-style: none;
}

#home,
#about,
#users {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
